// $color-green-dark: #425844
// $color-green-light: #61A568

// $color-blue-dark: #101D2C

// $color-gray-dark: #AAAAAA
$color-background: #FFD9C3
$color-main-text: #826F8C
    
*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    @include respond(tab-land)
        font-size: 50%
    @include respond(tab-port)
        font-size: 42%
    @include respond(phone)
        font-size: 30%
    @include respond(big-screen)
        font-size: 75%

body
    font-family: 'Josefin Sans', sans-serif
    font-weight: 500
    font-size: 1.8rem
    font-display: swap
    font-style: normal
    position: relative
    width: auto

