.section-first
    min-height: 77rem
    padding-top: 10rem
    position: relative
    background-image: url('../icons/Kerfin7.svg')
    background-position: right 0% bottom 5rem
    background-repeat: no-repeat
    background-size: 30%
    background-color: rgb(255, 232, 219)
    &__main
        @include main-block-center
        @include grid-template
        grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr))
        column-gap: 7rem
        justify-items: center
        align-items: center
    &__left-wrapper
        img
            width: 55.7rem
            object-fit: contain
    &__right-wrapper
        max-width: 58rem
        i
            display: inline-block
            transform: rotate(-180deg)
            position: relative
            top: -3rem
            left: 5rem
        &__title-1
            margin-bottom: 3rem
        &__title-2
            margin-bottom: 2.5rem
        &__text
            margin-bottom: 2.9rem
    &__background-text
        position: absolute
        bottom: 0rem
        left: 53vw
        height: 27rem

