.footer
    max-height: 31.7rem
    padding-top: 2rem
    padding-bottom: 5rem
    background-color: #FFE6D7
    &__main
        width: 117rem
        margin: 0 auto 

        display: flex
        justify-content: space-between
        align-items: center

    &__text
        font-size: 1.6rem
    &__social-media
        display: flex
        justify-content: center
        // height: 4rem

.social-media
    &__item
        height: 4rem
        width: 4rem
        background-color: rgba(252, 216, 203, 1)
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
    &__item:not(:last-child)
        margin-right: 1.5rem
        i
            font-size: 2.5rem
            
    
