.footer
    max-height: 31.7rem
    padding-top: 2rem
    padding-bottom: 5rem
    background-color: #FFE6D7
    &__main
        @include main-block-center 
        @include center-par
        justify-content: space-between
    &__text
        font-size: 1.6rem
    &__social-media
        @include center-par

.social-media
    &__item
        height: 4rem
        width: 4rem
        background-color: rgba(252, 216, 203, 1)
        border-radius: 50%
        @include center-par
    &__item:not(:last-child)
        margin-right: 1.5rem
        i
            font-size: 2.5rem
