.header
    background-image: url('../icons/image 3.svg')
    background-repeat: no-repeat
    background-size: cover
    background-color: rgba(255, 217, 195, 0.7)
    min-height: 84.4rem
    position: relative
    overflow: hidden
    &__top
        @include main-block-center
        @include center-par
        justify-content: space-between
        padding-top: 2rem
        margin-bottom: 14rem
        @include respond(tab-port-s)
           justify-content: space-around 
           margin-bottom: 7rem
        ////////////////////////////
        @include respond(phone)
            padding-left: 1.5rem
            margin-right: 1.5rem

    &__main
        @include main-block-center
        @include center-par
        flex-wrap: wrap
    &__title-1
        margin: 0
    &__title-2
        margin-bottom: 3rem
    &__text
        margin-bottom: 3.6rem
    &__left-wrapper   
        position: relative
        max-width: 56rem
        margin-right: 3rem
        @include respond(tab-port-s)
            max-width: 88rem
            margin-bottom: 7rem
        @include respond(phone)
            min-width: 300px
            padding-left: 1.5rem
            margin-right: 1.5rem
        &__first-line
            @include center-par
            justify-content: start
            margin-bottom: 2.6rem
            h1, i
                margin-right: 3rem
        &__cross-grad
            position: absolute
            top: 65%
            left: 45%
    &__right-wrapper
        position: relative
        &__gamer-img
            max-width: 56.7rem
            object-fit: contain
            transform: translateY(-6rem)
        &__dots
            position: absolute
            top: 19%
            right: -15%
    &__cross-stroke
        position: absolute
        top: 30rem
        left: -1.9rem

.logo
    width: 28.6rem
    height: 7.8rem
    flex-shrink: 0
    object-fit: containj
    &-little
        width: 23.8rem
        object-fit: contain

.nav
    &__link
        line-height: 2.4rem
        margin-right: 5rem
        outline: none
        text-decoration: none
        text-decoration-color: #446381   

.btn
    line-height: 2.4rem
    width: 18rem
    height: 5rem
    border-radius: 3rem
    background: linear-gradient(95deg, #4499D9 17.46%, #7367BE 87.77%)
    color: white
    border: none
    &-wide
        width: 26.7rem

.cross
    width: 11.7rem
    height: 11.7rem
    object-fit: contain

.dots
    width: 12.3rem
    object-fit: contain



