.header
    //background-color: #FFD9C3
    // opacity: 0.03
    background: url('../img/image 3.svg'), lightgray 50% / cover no-repeat
    
    grid-column: 1 / span 1
    grid-row: 1 / span 1
    justify-self: center
    display: grid
    grid-template-rows: minmax(min-content, 20vh) 70vh 10vh
    grid-template-columns: minmax(13.5rem, 10vw) repeat(2, minmax(min-content, 40vw)) minmax(13.5rem, 10vw)
    &__backgroung-img
        background-color: rgba(255, 217, 195, 0.7)
    &__top
        grid-column: 2 / span 2
        grid-row: 1 / span 1
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 2rem
    // &__logo
    //     padding-top: 2rem
    // &__nav
    //     padding-top: 6rem
    &__main
        grid-column: 2 / span 2
        grid-row: 2 / span 1
    // &__left-wrapper

    // &__right-wrapper
    &__bottom
        grid-column: 2 / span 2
        grid-row: 3 / span 1

.logo
    width: 28.6rem
    height: 7.8rem
    flex-shrink: 0
    object-fit: contain

.nav
    &__link
        line-height: 2.4rem
        margin-right: 5rem
        outline: none
        text-decoration: none
        text-decoration-color: #446381   
    // &__btn

.btn
    line-height: 2.4rem
    width: 18rem
    height: 5rem
    border-radius: 3rem
    background: linear-gradient(95deg, #4499D9 17.46%, #7367BE 87.77%)
    color: white
    border: none

.first-line
    &__arrows
        width: 5rem
        height: 2.9rem
        object-fit: contain




