.header
    background: url('../icons/image 3.svg'), lightgray 50% / cover no-repeat
    max-height: 84.4rem
    overflow: hidden
    position: relative
    &__backgroung-img
        background-color: rgba(255, 217, 195, 0.7)
    &__top
        width: 117rem
        margin: 0 auto
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 2rem
        margin-bottom: 14rem
    &__main
        max-width: 117rem
        margin: 0 auto
        display: grid
        grid-template-rows: min-content
        grid-auto-rows: min-content
        grid-template-columns: repeat(auto-fit, minmax(58rem, 1fr)) 
    &__title-1
        margin: 0
    &__title-2
        margin-bottom: 3rem
    &__text
        margin-bottom: 3.6rem
    &__cross-stroke
        position: absolute
        top: 30rem
        left: -1.2vw
    &__cross-grad
        position: absolute
        top: 65rem
        left: 47rem
    &__dots
        position: absolute
        top: 38rem
        left: 137rem

.logo
    width: 28.6rem
    height: 7.8rem
    flex-shrink: 0
    object-fit: containj
    &-little
        width: 23.8rem
        object-fit: contain

.nav
    &__link
        line-height: 2.4rem
        margin-right: 5rem
        outline: none
        text-decoration: none
        text-decoration-color: #446381   

.btn
    line-height: 2.4rem
    width: 18rem
    height: 5rem
    border-radius: 3rem
    background: linear-gradient(95deg, #4499D9 17.46%, #7367BE 87.77%)
    color: white
    border: none
    &-wide
        width: 26.7rem

.left-wrapper   
    position: relative
    &__first-line
        display: flex
        justify-content: start
        align-items: center
        margin-bottom: 2.6rem
        h1, i
            margin-right: 3rem

.right-wrapper
    &__gamer-img
        width: 56.7rem
        object-fit: contain
        transform: translateY(-6rem)

.cross
    width: 11.7rem
    height: 11.7rem
    object-fit: contain

.dots
    width: 12.3rem
    object-fit: contain



