.section-third
    height: 90rem
    // max-height: 90rem
    padding-top: 5rem
    background-color: #ffe6d7
    &__title-1
        margin-bottom: 2.3rem
        text-align: center
    &__title-2
        margin-bottom: 10rem
        text-align: center
    &__plans
        display: grid
        grid-template-rows: min-content
        grid-auto-rows: min-content
        grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr))
        column-gap: 4rem
        justify-items: center
        align-items: center
        &__item
            width: 36rem