.title-1
    color: #446381
    font-size: 2.3rem
    line-height: 2.4rem

.title-2
    color: #EB8382
    font-size: 6.8rem
    font-weight: 700
    font-style: normal
    line-height: 7.5rem
    &-grey
        color: #446381
        font-size: 6.8rem
        font-weight: 700
        line-height: 7.5rem
    &-little
        font-size: 5rem
    &-small
        font-size: 1.8rem
        line-height: 0
    &-dollar
        font-size: 2.7rem

.title-3
    font-size: 3.2rem
    font-style: normal
    font-weight: 700
    line-height: normal
    color: #446381

.text-ordinary
    color: #826F8C
    line-height: 2.9rem
    text-align: justify